/* ------------------------------ Neue Machina ------------------------------ */

@font-face {
    font-family: neue_mechanica_regular;
    src: url('../fonts/NeueMachina/PPNeueMachina-InktrapRegular.otf');
}

@font-face {
    font-family: neue_mechanica_bold;
    src: url('../fonts/NeueMachina/PPNeueMachina-InktrapUltrabold.otf');
}

@font-face {
    font-family: neue_mechanica_light;
    src: url('../fonts/NeueMachina/PPNeueMachina-InktrapLight.otf');
}

/* --------------------------------- Stellar -------------------------------- */

@font-face {
    font-family: stellar_bold;
    src: url('../fonts/Stellar/PPStellar-Bold.otf');
}

@font-face {
    font-family: stellar_light;
    src: url('../fonts/Stellar/PPStellar-Light.otf');
}

/* ------------------------------- Gosha Sans ------------------------------- */


@font-face {
    font-family:gosha_bold;
    src: url('../fonts/goshaSans/PPGoshaSans-Bold.otf');
}

@font-face {
    font-family: gosha_regular;
    src: url('../fonts/goshaSans/PPGoshaSans-Regular.otf');
}
