* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: neue_mechanica_regular;
  src: url("../fonts/NeueMachina/PPNeueMachina-InktrapRegular.otf");
}
@font-face {
  font-family: neue_mechanica_bold;
  src: url("../fonts/NeueMachina/PPNeueMachina-InktrapUltrabold.otf");
}
@font-face {
  font-family: neue_mechanica_light;
  src: url("../fonts/NeueMachina/PPNeueMachina-InktrapLight.otf");
}
/* 

neue_mechanica_bold; 
neue_mechanica_regular; 
neue_mechanica_light;

*/
:root {
  --background: rgb(243, 243, 243);
  --text: #181725;
  --text_size: 1rem;
  --title-size: 2rem;
  --big-title: 3.5rem;
  --visited: #616161;
  --accent: #13c9c0;
  --main_margin: 6vw;
  font-size: 20px;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "neue_mechanica_regular";
}

p {
  font-family: "neue_mechanica_light";
}

nav {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding-left: var(--main_margin);
  padding-right: var(--main_margin);
}
nav h1 {
  font-size: 0.6rem;
  font-family: "neue_mechanica_bold";
  font-weight: 200;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}
nav h1:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
  bottom: -0.2rem;
  left: 0;
}
nav h1 a {
  text-decoration: none;
  color: var(--text);
}
nav h1 a:hover {
  color: var(--accent);
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
nav ul li {
  font-family: "neue_mechanica_light";
}
nav ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 0.6rem;
}
nav ul li a:visited {
  color: var(--visited);
}
nav ul li a:hover {
  cursor: pointer;
  color: var(--accent);
  font-family: "neue_mechanica_regular";
}
nav ul .contact_nav {
  border: 1px var(--text) solid;
  padding-top: 0.2rem;
  padding-bottom: 0.22rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
nav ul .contact_nav:hover {
  background-color: var(--text);
  transition: all 0.2s ease-out;
  cursor: pointer;
}
nav ul .contact_nav:hover a {
  color: var(--accent) !important;
  transition: all 0.2s ease-out;
}

.header_container {
  height: 60vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-left: var(--main_margin);
  padding-right: var(--main_margin);
}
.header_container .header_container_transition {
  position: absolute;
  z-index: 99;
  background-color: var(--background);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.header_container .accroche {
  font-size: var(--big-title);
  font-family: "neue_mechanica_regular";
  width: 65%;
  line-height: 120%;
}
.header_container .accroche span {
  position: relative;
}
.header_container .accroche span .stabilo {
  background-color: var(--accent);
  width: 0%;
  height: 100%;
  position: absolute;
  top: -8%;
  left: -5%;
  z-index: -9;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-bottom: 8rem;
  padding-left: var(--main_margin);
  padding-right: var(--main_margin);
}
.gallery .gallery_transition {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  height: 100%;
  width: 100%;
  z-index: 99;
}
.gallery .gallery_item {
  width: 32.5%;
}
.gallery .gallery_item img {
  height: 800px;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #212121;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .gallery_item img:hover {
  cursor: pointer;
  opacity: 1;
}
.gallery .gallery_item h3 {
  margin-bottom: 1rem;
  font-size: var(--title-size);
  font-family: "neue_mechanica_light";
  font-weight: 400;
}

.content_1 {
  margin-bottom: 6rem;
  padding-left: var(--main_margin);
  padding-right: var(--main_margin);
}
.content_1 h2 {
  font-size: var(--title-size);
  margin-bottom: 2rem;
}
.content_1 .what_we_do {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}
.content_1 .what_we_do svg {
  margin-bottom: 2rem;
}
.content_1 .what_we_do div {
  display: flex;
  flex-direction: column;
}
.content_1 .what_we_do div:nth-child(2), .content_1 .what_we_do div:nth-child(5) {
  padding-left: 1rem;
}
.content_1 .what_we_do div:nth-child(3), .content_1 .what_we_do div:nth-child(6) {
  padding-left: 1.5rem;
}
.content_1 .what_we_do div:nth-child(1) p, .content_1 .what_we_do div:nth-child(2) p, .content_1 .what_we_do div:nth-child(3) p {
  padding-top: 2rem;
}
.content_1 .what_we_do div:nth-child(4), .content_1 .what_we_do div:nth-child(5), .content_1 .what_we_do div:nth-child(6) {
  padding-top: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.content_1 .what_we_do div h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.content_1 .what_we_do div h3:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
  bottom: -0.4rem;
  left: 0;
}
.content_1 .what_we_do div p {
  width: 60%;
  margin-bottom: 2rem;
  font-family: "neue_mechanica_light";
}
.content_1 .what_we_do div ul {
  list-style: none;
}
.content_1 .what_we_do div ul li {
  line-height: 160%;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.content_1 .what_we_do div ul li:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: var(--accent);
  width: 0%;
  height: 100%;
  z-index: -99;
  transition: all 0.4s ease-out;
}
.content_1 .what_we_do div ul li:hover {
  -webkit-background-clip: text;
          background-clip: text;
  transition: color 0.2s ease-out;
  /* a modifier selon accent */
  color: white;
}
.content_1 .what_we_do div ul li:hover:after {
  width: 100%;
}
.content_1 .what_we_do div ul li span {
  font-size: 0.6rem;
  font-family: "neue_mechanica_light";
}

.banner_mid {
  width: 100%;
  height: 450px;
  margin-bottom: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  padding-left: var(--main_margin);
  padding-right: var(--main_margin);
}

.content_2 {
  display: flex;
  padding-left: var(--main_margin);
  padding-right: var(--main_margin);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
.content_2 p {
  width: 60%;
}
.content_2 img {
  width: 30%;
}

footer {
  background-color: var(--text);
  color: var(--background);
  position: relative;
  margin-top: 8rem;
  padding-top: 6rem;
}
footer .encart {
  position: absolute;
  box-shadow: 0px -12px 16px rgba(153, 153, 153, 0.11);
  background: var(--background);
  color: var(--text);
  min-height: 8rem;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  padding-inline: 6rem;
}
footer .encart .left {
  font-size: 1.6rem;
  width: 30%;
}
footer .encart .right {
  font-size: 1.2rem;
  border: 1px var(--text) solid;
  padding: 0.6rem 1.2rem;
}
footer .encart .right:hover {
  background-color: var(--text);
  cursor: pointer;
  color: var(--accent) !important;
  transition: all 0.2s ease-out;
}
footer .row_1 {
  padding-inline: 20vw;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-top: 2rem;
}
footer .row_1 > .left h3 {
  margin-bottom: 3rem;
}
footer .row_1 > .left p {
  font-size: 0.8rem;
  width: 75%;
  opacity: 0.6;
}
footer .row_1 > .middle h3 {
  margin-bottom: 3rem;
}
footer .row_1 > .middle ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
  opacity: 0.6;
}
footer .row_1 > .right h3 {
  margin-bottom: 3rem;
}
footer .row_1 > .right ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .row_1 > .right ul li a {
  color: var(--background);
  text-decoration: none;
  font-size: 0.8rem;
  opacity: 0.6;
}
footer .row_1 > .right ul li a:hover {
  transition: all 0.2s ease-out;
  color: var(--accent);
  opacity: 1 !important;
}
footer .row_rs {
  padding-inline: 20vw;
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
footer .row_rs a {
  color: var(--background);
  text-decoration: none;
  opacity: 0.6;
}
footer .row_rs a:hover {
  opacity: 1;
  color: var(--accent);
}
footer .row_mail {
  display: flex;
  flex-direction: column;
  padding-inline: 20vw;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
footer .row_mail:after {
  position: absolute;
  content: "";
  width: 60vw;
  height: 1px;
  background-color: var(--background);
  top: 0;
  opacity: 0.1;
}
footer .row_mail:before {
  position: absolute;
  content: "";
  width: 60vw;
  height: 1px;
  background-color: var(--background);
  bottom: 0;
  opacity: 0.1;
}
footer .row_mail h3 {
  opacity: 0.6;
  font-weight: 200;
}
footer .row_mail a {
  text-decoration: none;
  color: var(--background);
}
footer .row_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  opacity: 0.6;
  font-size: 0.6rem;
}/*# sourceMappingURL=main.css.map */