* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'font_face.scss';
/* 
neue_mechanica_bold; 
neue_mechanica_regular; 
neue_mechanica_light;

stellar_bold
stellar_light

gosha_abold
gosha_regular
*/


:root {
    --background: rgb(243, 243, 243);
    --text: #181725;
    --text_size: 1rem;
    --title-size: 2rem;
    --big-title: 3.5rem;
    --visited: #616161;
    --accent: #13c9c0;
    --main_margin: 6vw;
    font-size: 20px;

    --font_content: 'stellar_light';
    --font_title: 'neue_mechanica_regular';
}

body {
    background-color: var(--background);
    color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font_title);
}

p {
    font-family: var(--font_content);
}

nav {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding-left: var(--main_margin);
    padding-right: var(--main_margin);

    h1 {
        font-size: .6rem;
        font-family: 'neue_mechanica_bold';
        font-weight: 200;
        letter-spacing: 2px;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: var(--accent);
            bottom: -.2rem;
            left: 0;
        }

        a {
            text-decoration: none;
            color: var(--text);

            &:hover {
                color: var(--accent)
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;


        li {
            font-family: 'neue_mechanica_light';

            a {
                text-decoration: none;
                color: var(--text);
                font-size: .6rem;

                &:visited {
                    color: var(--visited);
                }


                &:hover {
                    cursor: pointer;
                    color: var(--accent);
                    font-family: 'neue_mechanica_regular';
                }
            }
        }

        .contact_nav {
            border: 1px var(--text) solid;
            padding-top: .2rem;
            padding-bottom: .22rem;
            padding-left: 0.4rem;
            padding-right: 0.4rem;

            &:hover {
                background-color: var(--text);
                transition: all .2s ease-out;
                cursor: pointer;

                a {
                    color: var(--accent) !important;
                    transition: all .2s ease-out;

                }
            }
        }
    }

    @media screen and (max-width: 425px) {
        ul {
            display: none;
        }
    }
}

.header_container {
    height: 60vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-left: var(--main_margin);
    padding-right: var(--main_margin);

    .header_container_transition {
        position: absolute;
        z-index: 99;
        background-color: var(--background);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

    }

    .accroche {
        font-size: var(--big-title);
        font-family: var(--font_title);
        width: 65%;
        line-height: 120%;

        span {
            position: relative;

            .stabilo {
                background-color: var(--accent);
                width: 0%;
                height: 100%;
                position: absolute;
                top: -8%;
                left: -5%;
                z-index: -9;
                white-space: nowrap;
            }
        }

        @media screen and (max-width: 1280px) {
            width: 70%;
            font-size: 3rem;
        }

        @media screen and (max-width: 1024px) {
            width: 80%;
            font-size: 2.5rem;
        }

        // TO FINISH HERE
    }

}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: 8rem;
    padding-left: var(--main_margin);
    padding-right: var(--main_margin);


    .gallery_transition {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--background);
        height: 100%;
        width: 100%;
        z-index: 99;
    }

    .gallery_item {
        width: 32.5%;

        img {
            height: 800px;
            margin-bottom: 1rem;
            width: 100%;
            background-color: #212121;
            opacity: .8;
            transition: opacity .2s ease-out;
            object-fit: cover;

            &:hover {
                cursor: pointer;
                opacity: 1
            }
        }


        h3 {
            margin-bottom: 1rem;
            font-size: var(--title-size);
            font-family: var(--font_title);
            font-weight: 400;
        }
    }
}

.content_1 {
    margin-bottom: 6rem;
    padding-left: var(--main_margin);
    padding-right: var(--main_margin);



    h2 {
        font-size: var(--title-size);
        font-family: var(--font_title);
        margin-bottom: 2rem;
    }

    .what_we_do {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-template-areas:
                "c1""c2""c3""c4""c5""c6";

        }

        svg {
            margin-bottom: 2rem;
        }

        div {
            display: flex;
            flex-direction: column;

            &:nth-child(2),
            &:nth-child(5) {
                padding-left: 1rem;
            }

            &:nth-child(3),
            &:nth-child(6) {
                padding-left: 1.5rem;
            }

            &:nth-child(1) p,
            &:nth-child(2) p,
            &:nth-child(3) p {
                padding-top: 2rem;
            }

            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                padding-top: 0;
                height: max-content;
            }



            h3 {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
                position: relative;
                width: max-content;

                &:after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background-color: var(--accent);
                    bottom: -.4rem;
                    left: 0;
                }
            }

            p {
                width: 60%;
                margin-bottom: 2rem;

            }

            ul {
                list-style: none;

                li {
                    line-height: 160%;
                    position: relative;
                    width: max-content;
                    font-family: var(--font_content);

                    &:after {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        background-color: var(--accent);
                        width: 0%;
                        height: 100%;
                        z-index: -99;
                        transition: all .4s ease-out;
                    }

                    &:hover {
                        background-clip: text;

                        &:after {
                            width: 100%;
                        }

                        transition : color .2s ease-out;

                        /* a modifier selon accent */
                        color : white;
                    }

                    span {
                        font-size: .6rem;
                    }
                }
            }

            @media screen and (max-width:1280px) {
                svg {
                    height: 40px;
                    width: 40px;

                }

                p {
                    width: 80%;
                }

                ul {
                    li {
                        width: 80%;
                    }
                }
            }

            @media screen and (max-width: 1024px) {
                &:first-child {
                    grid-area: c1;
                }

                &:nth-child(2) {
                    grid-area: c3
                }

                &:nth-child(3) {
                    grid-area: c5
                }

                &:nth-child(4) {
                    grid-area: c2;
                }

                &:nth-child(5) {
                    grid-area: c4
                }

                &:nth-child(6) {
                    grid-area: c6
                }

                padding-left: 0 !important;

            }
        }
    }
}

.banner_mid {
    width: 100%;
    height: 450px;
    margin-bottom: 8rem;
    object-fit: cover;
    object-position: center bottom;
    padding-left: var(--main_margin);
    padding-right: var(--main_margin);
}

.content_2 {
    display: flex;
    padding-left: var(--main_margin);
    padding-right: var(--main_margin);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;

    p {
        width: 60%;
    }

    img {
        width: 30%;
    }
}

footer {
    background-color: var(--text);
    color: var(--background);
    position: relative;
    margin-top: 8rem;

    .encart {
        position: absolute;
        box-shadow: 0px -12px 16px rgba(153, 153, 153, 0.11);
        background: var(--background);
        color: var(--text);
        min-height: 8rem;
        top: -4rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 60vw;
        padding-inline: 6rem;


        .left {
            font-size: 1.6rem;
            width: 30%;
            font-family: var(--font_title);

            @media screen and (max-width:1440px) {
                width: 30%;
            }

            @media screen and (max-width:1280px) {
                width: 50%;
            }

        }

        .right {
            font-size: 1.2rem;
            border: 1px var(--text) solid;
            padding: .6rem 1.2rem;
            font-family: var(--font_title);


            &:hover {
                background-color: var(--text);
                cursor: pointer;
                color: var(--accent) !important;
                transition: all .2s ease-out;


            }
        }

        @media screen and (max-width:1440px) {
            padding-inline: 3rem;
            width: 72vw;
        }

        @media screen and (max-width:1280px) {
            padding-inline: 3rem;
            width: 72vw;
        }

    }

    padding-top: 6rem;

    .row_1 {
        padding-inline: 20vw;
        display: grid;
        grid-template-columns: 3fr 2fr 2fr;
        margin-top: 2rem;

        p,
        ul,
        li {
            font-family: var(--font_content);
        }

        &>.left {
            h3 {
                margin-bottom: 3rem;
            }

            p {
                font-size: .8rem;
                width: 75%;
                opacity: .6;
                line-height: 125%;
            }
        }

        &>.middle {
            h3 {
                margin-bottom: 3rem;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                font-size: .8rem;
                opacity: .6
            }
        }

        &>.right {
            h3 {
                margin-bottom: 3rem;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    a {
                        color: var(--background);
                        text-decoration: none;
                        font-size: .8rem;
                        opacity: .6;

                        &:hover {
                            transition: all .2s ease-out;
                            color: var(--accent);
                            opacity: 1 !important;
                        }
                    }
                }
            }
        }

        @media screen and (max-width:1440px) {
            padding-inline: 0;
        }

        @media screen and (max-width:1280px) {
            padding-inline: 0;
        }

    }

    .row_rs {
        padding-inline: 20vw;
        display: flex;
        justify-content: space-around;
        padding-top: 4rem;
        padding-bottom: 4rem;
        font-family: var(--font_title);


        a {
            color: var(--background);
            text-decoration: none;
            opacity: .6;

            &:hover {
                opacity: 1;
                color: var(--accent);
            }
        }

        @media screen and (max-width:1440px) {
            padding-inline: 0;
        }

        @media screen and (max-width:1280px) {
            padding-inline: 0;
        }
    }

    /*test*/
    .row_mail {
        display: flex;
        flex-direction: column;
        padding-inline: 20vw;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: relative;

        &:after {
            position: absolute;
            content: '';
            width: 60vw;
            height: 1px;
            background-color: var(--background);
            top: 0;
            opacity: .1;

            @media screen and (max-width:1440px) {
                width: 72vw;
            }

            @media screen and (max-width:1280px) {
                width: 72vw;
            }
        }

        &:before {
            position: absolute;
            content: '';
            width: 60vw;
            height: 1px;
            background-color: var(--background);
            bottom: 0;
            opacity: .1;

            @media screen and (max-width:1440px) {
                width: 72vw;
            }

            @media screen and (max-width:1280px) {
                width: 72vw;
            }
        }

        h3 {
            opacity: .6;
            font-weight: 200;
        }

        a {
            text-decoration: none;
            color: var(--background);
            font-family: var(--font_content);
        }


        @media screen and (max-width:1440px) {
            padding-inline: 14vw;
        }

        @media screen and (max-width:1280px) {
            padding-inline: 14vw;
        }
    }

    .row_copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        opacity: .6;
        font-size: .6rem;
    }


    @media screen and (max-width:1440px) {
        padding-inline: 14vw;
    }

    @media screen and (max-width:1280px) {
        padding-inline: 14vw;
    }
}